{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container w-50">
        <div style="margin: 50px"></div>
        <h1>Inscription</h1>

            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.name) }}
            <br>
            {{ form_row(registrationForm.email) }}
            <br>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <br>

        <button type="submit" class="btn btn-primary">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
