<!DOCTYPE html>
<html lang="fr">

<head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur le site du Groupe Hypnos!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>

    <body>

        <header>

            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: #0c4a6e">

                <div class="container-fluid">

                    <a class="navbar-brand" href="#"><img src="{{ asset('media/logoNoir_hypnos.jpg') }}" style="width:48px;height:48px;" alt="Logo Hypnos Groupe Hotelier">Hypnos Group.</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarCollapse">

                        <ul class="navbar-nav me-auto mb-2 mb-md-0">

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_gallery') }}">Nos Etablissements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_reservations') }}">Réserver/Booking</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contactez-nous</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin') }}">Admin</a>

                            </li>

                        </ul>
                        <div class="d-flex">
                            <a class="btn btn-outline-secondary me-2" href="{{ path('app_login') }}">Connexion</a>
                            <a class="btn btn-light" href="{{ path('app_register') }}">Inscription</a>
                        </div>

                    </div>

                </div>

            </nav>

        </header>

        {% block body %}{% endblock %}

    </body>

</html>
